<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Process and Analyze Statistical Transactions</title>
</head>
<body>
<div></div>
<div align="center">
<table>
<tr><td><a href="/transInit">Add a current transaction here</a></td></tr>
<tr><td><a href="/transExist">Add an existing transaction here</a></td></tr>
<tr><td><a href="/statistics">View statistics here</a></td></tr>
</table>
</div>
</body>
</html>